
.nav{
	@extend .nav;
}

.logo{
	img{
	width: 40px;
	height: 40px;
	}
}

.logo2{
  width: 100px;
  height: 40px;
  margin-top: 8px;
}

.menu{
	ul{
	font-size: 0px;
	list-style-type: none;
	margin-top: 8px;
  padding: 6px 6px 5px 6px;
  height: 40px;
  line-height: 100%;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  position:relative;
  z-index:999;

	li{
	display: inline;
	
	 margin: 0px 0px 6px 0px;
  padding: 6px 6px 0px 6px;
  float: left;
  position: relative;
  list-style: none;
  border: 2px solid transparent;


	a{
  color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
  font-family: arial;
  font-style: normal;
  font-size: 12px;
  color: #E7E5E5;
  text-decoration: none;
  display: block;
  padding: 6px 12px 6px 12px;
  margin: 0;
  margin-bottom: 6px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;

	&:hover, &:focus{
	text-decoration: none;
	}
	
	}
	&:hover {
      background-color: red !important;
      border: 2px solid red !important;
      border-radius: 8px; 
      }
    &.active{
      background-color: rgb(187, 0, 7);
      border: 2px solid rgb(187, 0, 7);
      border-radius: 8px; }
	}
	}
}

.menuOrder{
  height: 60px;
  background-color: red;
  padding: 0px;
}

.menu2{
  ul{
  font-size: 0px;
  list-style-type: none;
  height: 100%;
  line-height: 100%;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  position:relative;
  z-index:999;

  li{
  display: inline;
  height: 100%;
  float: left;
  list-style: none;
  border: 2px solid transparent;


  a{
  font-size: 14px;
  color: white;
  font-weight: bold;
  font-family: arial;
  font-style: normal;
  font-size: 12px;
  color: #FFFFFF;
  text-decoration: none;
  display: block;
  padding: 27px 20px 27px 20px;

  &:hover, &:focus{
  text-decoration: none;
  }
  
  }
  &:hover {
      background-color: rgb(187, 0, 7) !important;
      border-bottom: 4px solid white !important;
      transition: border-bottom 0.4s;
      }
    &.active{
      background-color: rgb(187, 0, 7);
      border-bottom: 4px solid white;
      }
    }
  }
}